body, html{
    margin: 0;
    padding: 0;
}
.wrap{
    max-width: 2000px;
    margin: auto;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(41, 165, 182);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header input{
    margin-right: 40px;
}
.content{
    width: 100%;
}
.wrap-block{
    display: flex;
}
.block-menu-left{
    display: grid;
    width: 30%;
}
.content-big-block{
    width: 70%;
    background-color:rgb(238, 238, 238);
    height: 600px;
}
.wrap-endl{
    display: flex;
    width: 100%;
}
.block-sm{
    background-color:yellow;
}
.block-sm-2{
    background-color:silver;
}
.content{
    display: flex;
}
.left-block{
    width: 70%;
}
.right-block{
    width: 30%;
    background-color: rgb(175, 116, 105);
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(41, 165, 182);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer input{
    margin-left: 40px;
}
/* ac */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }